<div class="wrapper">

    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Задача</mat-label>
      <input matInput type="text" [(ngModel)]="value" #inputRef>
      <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>


    <mat-selection-list *ngIf="todos.length > 0" #todosRef>
      <mat-list-option *ngFor="let todo of todos | todosFilter:inputRef.value let num = index" [selected]="todo.isDone" (click)="toggleTodo(todo)">
        <div>
          <b>{{ num + 1 }}.</b> {{todo.title}}
        </div>
        <mat-icon>close</mat-icon>
      </mat-list-option>
    </mat-selection-list>

    <form (submit)="addTodo()" class="addTodo" action="">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Задача</mat-label>
        <textarea matInput placeholder="Введите задачу" [(ngModel)]="newTodoText" name="todotext"></textarea>
      </mat-form-field>
      <button [disabled]="newTodoText === ''" type="submit" mat-raised-button color="primary">Добавить задачу</button>
    </form>


</div>

